name: 'Release: Build & publish container image'

on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      version:
        required: false
        type: string
        description: '(Optional) Version to set for the chart, must start with "v", example: v1.2.1'
        default: v

env:
  REGISTRY: ghcr.io

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ github.repository }}:${{ inputs.version || github.event.release.tag_name || github.ref_name }}
            ${{ env.REGISTRY }}/${{ github.repository }}:latest
          labels: ${{ steps.meta.outputs.labels }}
